kivy-PaymentLogger/venv/bin/*
kivy-PaymentLogger/venv/include/*
kivy-PaymentLogger/venv/lib/python3.10/site-packages/*
kivy-PaymentLogger/venv/share/*
kivy-PaymentLogger/venv/bin
kivy-PaymentLogger/venv/include
kivy-PaymentLogger/venv/lib
kivy-PaymentLogger/venv/share
Event-Driven/kivy-PaymentLogger/venv/bin/*
Event-Driven/kivy-PaymentLogger/venv/lib/python3.10/site-packages/*
Event-Driven/kivy-PaymentLogger/venv/include/*
Event-Driven/kivy-PaymentLogger/venv/share/*
Event-Driven/kivy-PaymentLogger/venv/bin
Event-Driven/kivy-PaymentLogger/venv/include
Event-Driven/kivy-PaymentLogger/venv/lib
Event-Driven/kivy-PaymentLogger/venv/share
*.pyc